<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= user.username %>’s Pantry</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= user.username %>’s Pantry</h1>

  <% if (user.pantry && user.pantry.length > 0) { %>
    <ul>
      <% user.pantry.forEach(food => { %>
        <li><%= food.name %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>This pantry is empty.</p>
  <% } %>
</body>
</html>